# Ignore everything
*

# But not these files...
!/.gitignore

!*.go
!go.sum
!go.mod

!/ops/**/*.http
!/ops/**/*.yaml
!/ops/**/*.tpl

!*.md
!LICENSE

# ...even if they are in subdirectories
!*/

!/Dockerfile


